
.form-group {
    margin-bottom: 1rem;
}
#inputValue {
    width: 760px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400px;
    line-height: 1.5;
    outline: none;
    color: #495057;
    background-color: white;
    border: 1px solid  grey;
    border-radius: .25rem;
}

#search {
    color:#fff;
    background-color: blue;
    outline: none;
    min-height: 38px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

#movies-searchable {
    margin-top: 20px;
}

section {
    position: relative;
    width: 100%;
    display: flex;
    overflow-x: auto;
    transition: 250ms all;
}

section img {
    width: 300px;
    transition:  250ms all;

}

img:hover {
    margin-left: 0 40px;
    transform: scale(1.2);
    cursor: pointer;
}

